	<!-- Navigation bar -->
	<!-- Navigation bar -->
	<nav id="myNavbar" class="navbar col-lg-8 offset-lg-2 col-12" style="padding-top: 0; border-bottom: 1px solid grey;">
	  <div class="col-12 " >
		<div class="col-12 col-md-4 headers" style="display: block;height: 200%">
		  <img class="" src="/assets/Plumbob2.png" style="height:70px;padding:0;padding-bottom: 5%; display: inline;"/>
		  <h1 class="headers" style="display: block; padding:0;margin-top:0;margin-bottom:0;">The Sims</h1>
		  <h2 class="headers" style="display: block; padding:0;margin-top:0;">cooking recipes</h2>
		</div>
		<div class="col-12 col-md-6 head" style="margin-bottom: 0.5%; margin-right:0; ">
			<div class="input-group" style="" >
			  <input type="text" class="form-control" style="background:none; border:none;" placeholder="Search for...">
			  <span class="input-group-btn">
				<button class="btn" type="button" style="background:none;">
					<i class="fa fa-search"></i>
				</button>
			  </span>			
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->	  
	   </div>
	</nav>
	
	<div class="row article_wrap">
	
	<h4 class="col-12 breadcrumbs">
<a href="/home">home</a> &gt;
<a [attr.href]="products[0].category">{{products[0].category}}</a>
</h4>

		<article *ngFor="let p of products" class="col-12 recipe_preview_box preview1">
			<div class="col-6 recipe_preview_photo pre_photo_meat1"
			[ngStyle]="{'background-image':'url(/assets/recipes/' + p.id + '.jpg)'}"> </div>
				<section class="col-6">
					<span>Category: {{p.category}} </span>
					<h2><a [attr.href]="p.category + '/' + p.id">{{p.name}}</a></h2>
					<p>Honey chicken kabobs with vegetables. You can marinate overnight and make these kabobs for an outdoor barbecue as a tasty alternative to the usual barbecue fare!</p>
					<div class="details">{{p.time}} <i class="fa fa-clock"></i>
				
						<span *ngFor="let i of getRating(p)">&#9733;</span>
						
					</div>
				</section>
		</article>
	
	<div class="pageButtons col-12">
		<button *counter="let page of pageCount" (click)="changePage(page)" class="btn btn-outline-primary " [class.active]="page == selectedPage" >
		{{page}}
		</button>
	</div>
	
	<div class="form-inline pickItemsPerPage col-12">
		<select style="margin-left:auto;margin-right: auto;width:auto;" class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
			<option value="1">1 per Page</option>
			<option value="4">3 per Page</option>
			<option value="6">6 per Page</option>
		</select>
	</div>


</div>
	
	<footer class="footer col-8 col-offset-2" style="padding-top: 1%;height: 10%;border-top: 1px solid DimGrey;">
	<p style="display:inline;">The Sims | cooking recipes © 2018</p>
	<span id="volume_on_label" style="float:right;display:none;">on</span>
	<span id="volume_off_label" style="float:right;">off</span>
	<span style="float:right;">sound | </span>
	<span id="volume_on_icon" style="float:right; margin-right:1%; display:none;"><img src="/assets/volume_on.png"/></span>
	<span id="volume_off_icon" style="float:right; margin-right:1%;"><img src="/assets/volume_off.png"/></span>
	</footer>


	