	<!-- Navigation bar -->
	<!-- Navigation bar -->
	<nav id="myNavbar" class="navbar col-lg-8 offset-lg-2 col-12" style="padding-top: 0; border-bottom: 1px solid grey;">
	  <div class="col-12 " style="">
		<div class="col-12 col-md-4 headers" style="display: block;height: 200%">
		  <img class="" src="/assets/Plumbob2.png" style="height:70px;padding:0;padding-bottom: 5%; display: inline;"/>
		  <h1 class="headers" style="display: block; padding:0;margin-top:0;margin-bottom:0;">The Sims</h1>
		  <h2 class="headers" style="display: block; padding:0;margin-top:0;">cooking recipes</h2>
		</div>
		<div class="col-12 col-md-6 head" style="margin-bottom: 0.5%; margin-right:0; ">
			<div class="input-group" style="" >
			  <input type="text" class="form-control" style="background:none; border:none;" placeholder="Search for...">
			  <span class="input-group-btn">
				<button class="btn" type="button" style="background:none;">
					<i class="fa fa-search"></i>
				</button>
			  </span>			
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->	  
	   </div>
	</nav>

	<div id="wrapper" class="col-12">
	
		<div class="shake-slow"><a href="/vegetarian">
			<img id="dish1" class="dish" src="/assets/1q.png" alt="" />
			<img id="dish1m" class="dishm" src="/assets/1-m.png" alt="" />
			<div id="category1" class="categories" >vegetarian</div></a>
		</div>
		
		<div class="shake-slow" ><a href="/breakfasts">
			<img id="dish2" class="dish" src="/assets/4q.png" alt="" />
			<img id="dish2m" class="dishm" src="/assets/4-m.png" alt="" />
			<div id="category2" class="categories" >breakfasts</div></a>
		</div>
		
		<div class=" shake-slow"><a href="/main">
			<img id="dish3" class="dish" src="/assets/2q.png" alt="" />
			<img id="dish3m" class="dishm" src="/assets/2-m.png" alt="" />
			<div id="category3" class="categories" >main courses</div></a>
		</div>
		
		<div class="shake-slow "><a href="/meat_and_fish">
			<img id="dish4" class="dish" src="/assets/3q.png" alt="" />
			<img id="dish4m" class="dishm" src="/assets/3-m.png" alt="" />
			<div id="category4" class="categories" >meat & fish</div></a>
		</div>
		
		<div class="shake-slow "><a href="/desserts">
			<img id="dish5" class="dish" src="/assets/5q.png" alt="" />
			<img id="dish5m" class="dishm" src="/assets/5-m.png" alt="" />
			<div id="category5" class="categories" >desserts</div></a>
		</div>
		
	</div>

<footer class="footer col-8 col-offset-2" style="position: absolute; overflow: hidden;padding-top: 1%;height: 10%;border-top: 1px solid DimGrey;">
	<p style="display:inline;">The Sims | cooking recipes © 2018</p>
	<span id="volume_on_label" style="float:right;display:none;">on</span>
	<span id="volume_off_label" style="float:right;">off</span>
	<span style="float:right;">sound | </span>
	<span id="volume_on_icon" style="float:right; margin-right:1%; display:none;"><img src="/assets/volume_on.png"/></span>
	<span id="volume_off_icon" style="float:right; margin-right:1%;"><img src="/assets/volume_off.png"/></span>


</footer>